@model AccountResendConfirmationCodeViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="text-center">
                <i class="fa-light fa-sushi fa-fw" style="font-size:5em"></i>
            </div>

            <form action="" method="post" class="my-3">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label>
                        @Model.Label
                    </label>
                    <input type="email" name="email" class="form-control" />
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary rounded-0">
                        @Model.ActionName
                    </button>
                </div>
            </form>

        </div>

    </div>
    <div class="col-md-4"></div>
</div>

