@model HomeIndexViewModel
@{
    ViewData["Title"] = "Manage Your Tasks";
}

<div class="container-fluid bg-light">
    <div class="container my-5">
        <div class="text-center py-4">
            <div class="py-3">
                <i class="fa-solid fa-list-check fa-fw" style="font-size:12em"></i>
            </div>
            <h1 class="display-3">Manage Your Tasks</h1>

            <div class="row mb-5">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 lead">
                    Opensource, host on your own server or use our server at low price.  Managing task is about organizing tasks among team,
                    we design this software with accessiblity of the team in mind.
                </div>
                <div class="col-md-3">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 my-2">
                            <a href="/en/Account/Login" class="btn btn-primary rounded-0 w-100">Login</a>
                        </div>
                        <div class="col-md-4 my-2" style="margin:0 auto">or</div>
                        <div class="col-md-4 my-2">
                            <a href="/en/Account/Register" class="btn btn-secondary rounded-0 w-100">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 my-2 p-4">
            <div class="text-center">
                <div class="font-xl">Features</div>
            </div>
            <div class="py-3">
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Manage Tasks and Schedules.</u></strong>  Make tasks with description, assign users, set time, set priority, set milstone and category, set version,
                        set cost, link child/parent tasks, record actual time, follow tasks.  Search, sort, filter tasks or see tasks in gant charts.
                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Manage Projects. </u></strong> Make projects, assign team members, monitor costs.
                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Manage Documents (Wiki).</u></strong> Make documents, organize in tree, search, edit with other project members.

                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Manage Files.</u></strong>  Upload files, organize, share within project team members.
                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Manage Team Members.</u></strong> Invite other members to the team, set roles, control what they can do within projects or accounts
                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <i class="fa-solid fa-check fa-fw"></i>
                    </div>
                    <div>
                        <strong><u>Chat within the Team.</u></strong> Instant live communication with chat feature.  Create chat room, manage users within the room,
                        share photos, files.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-light my-2 p-4">
            <div class="text-center">
                <div class="font-xl">Open Source</div>
                <a href="https://github.com/7thdata/servivces-backlog" class="text-dark">
                    <i class="fa-brands fa-github" style="font-size:6em;"></i>

                </a>
            </div>
            <div class="py-3">
                Backlog by SEVENTH is opensource software and here is the reposigory.
                The current version is 1.0.0. Please see here for updates.
                If you have request or find bugs, please report it from here. Special thanks to Bootstrap, Google Fonts, Font-Awesome, JQuery.list
            </div>

        </div>
    </div>
</div>

<div class="container my-3">
    <div class="text-center mt-5">
        <div class="font-xl">Price</div>
        <div class="font-lg">
            Host your own or use our hosted services.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Small Team</h2>
                </div>
                <div class="card-body">
                    <div class="font-xl text-center">
                        $10
                    </div>
                    <div class="lead">
                        Ideal for a team of less than 10.
                    </div>
                    <div class="py-3">
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                First 3 months FREE.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Up to 10 members.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Up to 10 Projects.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Up to 1GB of Storage.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Big Team</h2>
                </div>
                <div class="card-body">
                    <div class="font-xl text-center">
                        $20
                    </div>
                    <div class="lead">
                        Ideal for a big team with hussle-free.
                    </div>
                    <div class="py-3">
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                First 3 months FREE.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Unlimited members.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Unlimited Projects.
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <i class="fa-solid fa-check fa-fw"></i>
                            </div>
                            <div>
                                Up to 1TB of Storage.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Host Your Own</h2>
                </div>
                <div class="card-body">
                    <div class="font-xl text-center">
                        FREE
                    </div>
                    <div class="lead">
                        Host your own service on your server.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
