@using wppBacklog.Areas.Usr.Models
@model UsrWikiIndexViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["OrganizationId"] = Model.Organization.Id;
    ViewData["ProjectId"] = Model.Project.Id;
    ViewData["Culture"] = Model.Culture;
    Layout = "~/Areas/Usr/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid ps-3">
    <div class="bg-light-color rounded p-2 mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/@Model.Culture/organization/@Model.Organization.Id" class="text-dark text-decoration-none">
                        <i class="fa-light fa-building fa-fw"></i> @Model.Organization.Name
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <i class="fa-light fa-sushi fa-fw"></i> <a href="/@Model.Culture/organization/@Model.Organization.Id/project/@Model.Project.Id" class="text-dark text-decoration-none">@Model.Project.Name</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/@Model.Culture/usr" class="text-dark text-decoration-none">
                        <i class="fa-light fa-house-chimney fa-fw"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>

    
    <div class="d-flex justify-content-between">
        <div>
            <form method="get">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control" />
                    <button class="btn btn-secondary" type="submit"><i class="fa-light fa-magnifying-glass fa-fw"></i></button>
                </div>
            </form>
        </div>
        <div>
            <a class="btn btn-secondary rounded-0" href="">
                <i class="fa-light fa-plus fa-fw"></i>
            </a>
        </div>
    </div>

    <div>
        <!-- Show list of Wikis-->
        @if (Model.Wikis.Items != null)
        {
            <table class="table">
                @foreach (var wiki in Model.Wikis.Items)
                {
                    <tr>
                        <td>
                            <a href="/@Model.Culture/organization/@Model.Organization.Id/project/@Model.Project.Id/wiki/@wiki.Id">
                                @wiki.Name
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="py-5 text-center">
                No wikis.
            </div>
        }
    </div>
</div>